/* src/app/components/sidebar/sidebar.component.css */
aside {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  padding: 1em;
}

.icon {
  margin: 1em 0;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.film-reel { background-image: url('../../assets/logo.svg'); }
.grid { background-image: url('../../assets/logo.svg'); }
.filmstrip { background-image: url('../../assets/logo.svg'); }
.tv { background-image: url('../../assets/logo.svg'); }
.bookmark { background-image: url('../../assets/logo.svg'); }
.user { background-image: url('../../assets/logo.svg'); }
