body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #10141E;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo img {
  width: 50px;
  margin-bottom: 20px;
}

.box {
  background-color: #161D2F;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  align-items: left;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5A698F;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #161D2F;
  color: #FFFFFF;
}

input::placeholder {
  color: #5A698F;
}

input:focus {
  outline: none;
  background-color: transparent;
}

button {
  padding: 10px;
  background-color: #FC4747;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
}

button:hover {
  background-color: #FFFFFF;
  color: #FC4747;
}

.link {
  margin-top: 10px;
}

.link a {
  color: #ea4c89;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
