<div class="container">
  <div class="sidebar">
    <div class="logo">
      <img src="path-to-logo" alt="Logo">
    </div>
    <div class="nav">
      <a routerLink="/home" routerLinkActive="active"><i class="icon-home"></i></a>
      <a routerLink="/movies" routerLinkActive="active"><i class="icon-movies"></i></a>
      <a routerLink="/series" routerLinkActive="active"><i class="icon-series"></i></a>
      <a routerLink="/favorites" routerLinkActive="active"><i class="icon-favorites"></i></a>
    </div>
  </div>
  <div class="main-content">
    <div class="search-bar">
      <input type="text" placeholder="Search for movies">
    </div>
    <div class="grid">
      <div *ngFor="let movie of movies" class="grid-item">
        <img [src]="movie.image" alt="{{ movie.title }}">
        <div class="item-info">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.year }} - {{ movie.genre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
